<!DOCTYPE HTML>
<!--
	Telephasic by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Travel App</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/game.css" />
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header" class="container">


						<!-- Nav -->
						<nav id="nav" style='margin-right: 0;'>
							<ul>
								<li>
									<a href="#">Menu</a>
									<ul>
										<li><a href="/">Home</a></li>
										<li><a href="/">Itinerary</a></li>
										<li><a href="/game">Travel Game</a></li>
										<li><a href="/aboutus">About Us</a></li>
										<li><a href="/music">Music</a></li>
									</ul>
								</li>
							
							</ul>
						</nav>

					</div>

					<!-- Hero -->
						<section id="hero" class="container">
							<header>
								<h2>Telephasic is a responsive
								<br />
								site template by <a href="http://html5up.net">HTML5 UP</a></h2>
							</header>
							<p>Designed and built by <a href="http://twitter.com/ajlkn">AJ</a> and released for free under
							<br />
							the <a href="http://html5up.net/license">Creative Commons Attribution 3.0 license</a>.</p>
							<ul class="actions">
								<li><a href="#" class="button">Get this party started</a></li>
							</ul>
						</section>

				</div>

			<!-- Features 1 -->






<!-- FORMSTUFFFS -->


			<form id="activity-search" action="/results" method="post">
				<input name="latitude" type="hidden" value="<%= latLongData[latLongData.length-1].latitude %>">
				<input name="longitude" type="hidden" value="<%= latLongData[latLongData.length-1].longitude %>">
				<!-- <button style="margin: .6em;" type="submit">Search Activities</button> -->
				
				<!-- Features 1 -->
				<form action="/save" method="post">
					<% latLongData.forEach((value, index) => { %>
						<input type="hidden" name="city" value="<%= value.city %>">
						<input type="hidden" name="state" value="<%= value.state %>">
						<input type="hidden" name="latitude" value="<%= value.latitude %>">
						<input type="hidden" name="longitude" value="<%= value.longitude %>">
						<% }) %>
						<button style="margin: .6em;" type="submit">Create New Trip</button>
					</form>
					
				</form>



				<!-- FORMSTUFFFS -->




























				<div class="wrapper">
					<div class="container">
						<div class="row">
							<section id="memory-game"  class="memory-game">
      
								<div class="memory-card" data-framework="OR">
								  <img class="front-face" alt="Mount Calvary OR" src="images/mountcalvary.jpg" />
								  <img class="back-face" />
								  <p class="carddescription" >Mount Calvary, OR</p>
								</div>
								<div class="memory-card" data-framework="OR">
								  <img class="front-face" alt="Mirror Lake OR" src="images/mirrorlake.jpg" />
								  <img  class="back-face" />
								  <p class="carddescription" >Mirror Lake, OR</p>
								</div>
								
								<div class="memory-card" data-framework="vancouver">
								  <img class="front-face" alt="Robson Square, Vancouver" src="images/robson.jpeg" />
								  <img class="back-face" />
								  <p class="carddescription" >Robson Square, VANC</p>
								</div>
								<div class="memory-card" data-framework="vancouver">
								  <img class="front-face" alt="Sombiro Beach" src="images/sombrio.jpg" />
								  <img class="back-face" />
								  <p class="carddescription" >Sombrio Beach, VANC</p>
								</div>
								
								<div class="memory-card" data-framework="ID">
								  <img class="front-face" alt="Boise Oregon Trail Memorial" src="images/boise.jpg" />
								  <img class="back-face" />
								  <p class="carddescription" >Boise, ID</p>
								</div>
								<div class="memory-card" data-framework="ID">
								  <img class="front-face" alt="Shoshone" src="images/shoshone.jpg" />
								  <img class="back-face" />
								  <p class="carddescription" >Shoshone Falls, ID</p>
								</div>
						  
								<div class="memory-card" data-framework="UT">
								  <img class="front-face" alt="Great Temple" src="images/temple.jpg" />
								  <img class="back-face" />
								  <p class="carddescription" >Great Mormon Temple, UT</p>
								</div>
								<div class="memory-card" data-framework="UT">
								  <img class="front-face" alt="Capitol Reef Park" src="images/capreef.jpg" />
								  <img class="back-face" />
								  <p class="carddescription" >Capitol Reef, UT</p>
								</div>
						  
								<div class="memory-card" data-framework="WY">
								  <img class="front-face" alt="Jackson WY" src="images/jackson.jpg" />
								  <img class="back-face" />
								  <p class="carddescription" >Jackson, WY</p>
								</div>
								<div class="memory-card" data-framework="WY">
								  <img class="front-face" alt="Yellow Stone National Park" src="images/yellows.jpg" />
								  <img class="back-face" />
								  <p class="carddescription" >Yellowstone, WY</p>
								</div>
						  
								<div class="memory-card" data-framework="SD">
								  <img class="front-face" alt="Rapid Creek, South Dakota" src="images/rapidcreek.jpeg" />
								  <img class="back-face" />
								  <p class="carddescription" >Rapid City's Rapid Creek, SD</p>
								</div>
								<div class="memory-card" data-framework="SD">
								  <img class="front-face" alt="Mount Rushmore" src="images/rush.jpg" />
								  <img class="back-face" />
								  <p class="carddescription">Rushmore, SD</p>
								</div>
						  
								<div class="memory-card" data-framework="MT">
								  <img class="front-face" alt="Bozeman" src="images/bozeman.jpg" />
								  <img class="back-face" />
								  <p class="carddescription" >Bozeman, MT</p>
								</div>
								<div class="memory-card" data-framework="MT">
								  <img class="front-face" alt="Lewis and Clark Caverns" src="images/caverns.jpg" />
								  <img class="back-face" />
								  <p class="carddescription" >Lewis and Clark Caverns, MT</p>
								</div>
						  
								<div class="memory-card" data-framework="NV">
								  <img class="front-face" alt="Emerald Bay" src="images/embay.jpg" />
								  <img class="back-face" />
								  <p class="carddescription" >Lake Tahoe, NV</p>
								</div>
								<div class="memory-card" data-framework="NV">
								  <img class="front-face" alt="Las vegas" src="images/vegas.jpg" />
								  <img class="back-face" />
								  <p class="carddescription" >Las Vegas, NV</p>
								</div>
								
							  </section>
							
						</div>
					</div>
				</div>



			<!-- Footer -->
				<div id="footer-wrapper">
					<div id="footer" class="container">
						<header class="major">
							<h2>Euismod aliquam vehicula lorem</h2>
							<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur vel sem sit<br />
							dolor neque semper magna lorem ipsum feugiat veroeros lorem ipsum dolore.</p>
						</header>
						<div class="row">
							<section class="col-6 col-12-narrower">
								<form method="post" action="#">
									<div class="row gtr-50">
										<div class="col-6 col-12-mobile">
											<input name="name" placeholder="Name" type="text" />
										</div>
										<div class="col-6 col-12-mobile">
											<input name="email" placeholder="Email" type="text" />
										</div>
										<div class="col-12">
											<textarea name="message" placeholder="Message"></textarea>
										</div>
										<div class="col-12">
											<ul class="actions">
												<li><input type="submit" value="Send Message" /></li>
												<li><input type="reset" value="Clear form" /></li>
											</ul>
										</div>
									</div>
								</form>
							</section>
							<section class="col-6 col-12-narrower">
								<div class="row gtr-0">
									<ul class="divided icons col-6 col-12-mobile">
										<li class="icon brands fa-twitter"><a href="#"><span class="extra">twitter.com/</span>untitled</a></li>
										<li class="icon brands fa-facebook-f"><a href="#"><span class="extra">facebook.com/</span>untitled</a></li>
										<li class="icon brands fa-dribbble"><a href="#"><span class="extra">dribbble.com/</span>untitled</a></li>
									</ul>
									<ul class="divided icons col-6 col-12-mobile">
										<li class="icon brands fa-instagram"><a href="#"><span class="extra">instagram.com/</span>untitled</a></li>
										<li class="icon brands fa-youtube"><a href="#"><span class="extra">youtube.com/</span>untitled</a></li>
										<li class="icon brands fa-pinterest"><a href="#"><span class="extra">pinterest.com/</span>untitled</a></li>
									</ul>
								</div>
							</section>
						</div>
					</div>
					<div id="copyright" class="container">
						<ul class="menu">
							<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</div>
				</div>

		</div>

		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/game.js"></script>

	</body>
</html>