<!DOCTYPE HTML>
<!--
	Telephasic by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Telephasic by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/game.css" />
    <script id="input-template" type="text/x-tmpl-mustache">
		<input type="text" name={{iteration}} placeholder="stop number {{iteration}}">
    </script>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->

				<div id="" style="  background: url(images/newimg.jpeg) no-repeat center center; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover; height: 36em;">

					<div id="header" class="container">

				

						<!-- Nav -->

            <nav id="nav" style='margin-right: 0;'>
								<ul>
									<li>
										<a href="#">Menu</a>
										<ul>
                      <li><a href="/">Home</a></li>
                      <li><a href="/see-itinerary">Itinerary</a></li>
									
											<li><a href="/aboutus">About Us</a></li>
											
										
										</ul>
									</li>
								
                </ul>
                <form class='form' action="/search" method="post">
					<h2 class='formh2'>Add a start point and a destination to get started.</h2>
					<input  type="text" name="start" placeholder="Seattle, WA">
					<input type="text" name="end" placeholder="New York, NY">
					<br><br>
					<button id="add-waypoint" class="formbutton">Add a Stop</button>
					<button type="submit" class='formbutton'>Submit</button>
				  </form>
						</nav>

					</div>

					<!-- Hero -->
						<section id="hero" class="container">
							<header>
								<h2 style="color: #c7524a;   -webkit-text-stroke-width: 1px;

								-webkit-text-stroke-color: #562222;">ROAD TRIP</h2>
								<br />
							</header>
						
				<br>
              </div>

						</section>

		</div>
		
		<!-- Itinerary -->
		<div id='hidden-form' class="wrapper">
			<section class="container">
		<form action="/search" method="post">
			<h2 class='formh2'>Add a start point and a destination to get started.</h2>
			<input  type="text" name="start" placeholder="Seattle, WA">
			<input type="text" name="end" placeholder="New York, NY">
			<br><br>
			<button type="submit" class='formbutton'>Submit</button>
		  </form>
		</section>
	</div>

		<div class="wrapper background3">
			<section class="container">
				<header class="major">
					<h2>Your Saved Intinerary</h2>
					<p>View the top spots you want to visit</p>
					<ul class="actions major">
						<li><a href="/see-itinerary" class="button">Intinerary</a></li>
					</ul>
				</header>
				
			</section>
		</div>

				<!-- Saved Trips -->
				<div class="wrapper">
					<section class="container">
						<header class="major">
							<h2>Your Saved Trips</h2>
							<p>View your mapped trips</p>
							<ul class="actions major">
								<li><a href="#" class="button">Road Trips</a></li>
							</ul>
						</header>
						
					</section>
				</div>
        
        <div class="wrapper background4">


		
				<section class="container ">
					<header class="major">
						<h2>Get some tunes for your road-trip</h2>
						<p>View the top ten albums thanks to Deezer</p>
					</header>


					<div class="row features">
						
						<% searchResults.forEach( albums => { %>
					
							<section style="text-align: center;" class="col-5 col-12-narrower feature">
						
						
								<div class="image-wrapper ">
									<a href="#" class="image featured"><img src='<%= albums.cover_medium %>' alt="" /></a>
								</div>
							   <div>
								   <p class='musicfont'><%= albums.title %></p>
								   <p class='musicfont'><%= albums.artist %></p>
								   <p class='musicfont'>Position: <%= albums.position %></p>
								   <p class='musicfont'>link: <a href='<%= albums.link %>'><%= albums.link %></a></p>

								</div>
							</section>
							<% }) %>
							
					   
						

					</div>
					
				</section>
			


  </div>

				

			<!-- Features game -->
			<div class="wrapper" style='background: #f6f8fb'>
				
				<div class="container">
					
					<header style='background: #f6f8fb' class="major">
						<h2>Need inspiration?</h2>
						<p>Discover America: match the attraction to the city:</p>
					</header>

					<div class="row">
						<section id="memory-game"  class="memory-game">
  
							<div class="memory-card" data-framework="OR">
							  <img class="front-face" alt="Mount Calvary OR" src="images/mountcalvary.jpg" />
							  <img class="back-face" />
							  <p class="carddescription" >Mount Calvary, OR</p>
							</div>
							<div class="memory-card" data-framework="OR">
							  <img class="front-face" alt="Mirror Lake OR" src="images/mirrorlake.jpg" />
							  <img  class="back-face" />
							  <p class="carddescription" >Mirror Lake, OR</p>
							</div>
							
							<div class="memory-card" data-framework="vancouver">
							  <img class="front-face" alt="Robson Square, Vancouver" src="images/robson.jpeg" />
							  <img class="back-face" />
							  <p class="carddescription" >Robson Square, VANC</p>
							</div>
							<div class="memory-card" data-framework="vancouver">
							  <img class="front-face" alt="Sombiro Beach" src="images/sombrio.jpg" />
							  <img class="back-face" />
							  <p class="carddescription" >Sombrio Beach, VANC</p>
							</div>
							
							<div class="memory-card" data-framework="ID">
							  <img class="front-face" alt="Boise Oregon Trail Memorial" src="images/boise.jpg" />
							  <img class="back-face" />
							  <p class="carddescription" >Boise, ID</p>
							</div>
							<div class="memory-card" data-framework="ID">
							  <img class="front-face" alt="Shoshone" src="images/shoshone.jpg" />
							  <img class="back-face" />
							  <p class="carddescription" >Shoshone Falls, ID</p>
							</div>
					  
							<div class="memory-card" data-framework="UT">
							  <img class="front-face" alt="Great Temple" src="images/temple.jpg" />
							  <img class="back-face" />
							  <p class="carddescription" >Great Mormon Temple, UT</p>
							</div>
							<div class="memory-card" data-framework="UT">
							  <img class="front-face" alt="Capitol Reef Park" src="images/capreef.jpg" />
							  <img class="back-face" />
							  <p class="carddescription" >Capitol Reef, UT</p>
							</div>
					  
							<div class="memory-card" data-framework="WY">
							  <img class="front-face" alt="Jackson WY" src="images/jackson.jpg" />
							  <img class="back-face" />
							  <p class="carddescription" >Jackson, WY</p>
							</div>
							<div class="memory-card" data-framework="WY">
							  <img class="front-face" alt="Yellow Stone National Park" src="images/yellows.jpg" />
							  <img class="back-face" />
							  <p class="carddescription" >Yellowstone, WY</p>
							</div>
					  
							<div class="memory-card" data-framework="SD">
							  <img class="front-face" alt="Rapid Creek, South Dakota" src="images/rapidcreek.jpeg" />
							  <img class="back-face" />
							  <p class="carddescription" >Rapid City's Rapid Creek, SD</p>
							</div>
							<div class="memory-card" data-framework="SD">
							  <img class="front-face" alt="Mount Rushmore" src="images/rush.jpg" />
							  <img class="back-face" />
							  <p class="carddescription">Rushmore, SD</p>
							</div>
					  
							<div class="memory-card" data-framework="MT">
							  <img class="front-face" alt="Bozeman" src="images/bozeman.jpg" />
							  <img class="back-face" />
							  <p class="carddescription" >Bozeman, MT</p>
							</div>
							<div class="memory-card" data-framework="MT">
							  <img class="front-face" alt="Lewis and Clark Caverns" src="images/caverns.jpg" />
							  <img class="back-face" />
							  <p class="carddescription" >Lewis and Clark Caverns, MT</p>
							</div>
					  
							<div class="memory-card" data-framework="NV">
							  <img class="front-face" alt="Emerald Bay" src="images/embay.jpg" />
							  <img class="back-face" />
							  <p class="carddescription" >Lake Tahoe, NV</p>
							</div>
							<div class="memory-card" data-framework="NV">
							  <img class="front-face" alt="Las vegas" src="images/vegas.jpg" />
							  <img class="back-face" />
							  <p class="carddescription" >Las Vegas, NV</p>
							</div>
							
						  </section>
						
					</div>
				</div>
			</div>
		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
      <script src="assets/js/game.js"></script>
      <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

  <script src="https://unpkg.com/mustache@latest"></script>
  <script>

    let templateObj = { iteration: 1 }
    $('#add-waypoint').click(function (event) {

			event.preventDefault();
			if(templateObj.iteration < 20){
				let template = $('#input-template').html();
				console.log(template);
				let html = Mustache.render(template, templateObj);
				$('input:last-of-type').before(html);
			}
			templateObj.iteration++;
    })
  </script>

	</body>
</html>
