<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather</title>
  <link href="weather.css" rel="stylesheet"/>

</head>
<body>
  <h2>Testing Weather</h2>
  <div id="weather-container">
    
    <% weatherResults.forEach(day => { %>
      <section>
        <p class="weather">
          <%= day.time %><br>
          <%= day.forecast %>
        </p>
        <img id="icon" src= "https://www.weatherbit.io/static/img/icons/<%= day.icon %>.png" alt="Weather Icon">
        <p class="weather">
          <%= day.high_temp %>° | <%= day.low_temp %>°<br>
          Rainfall: <%= day.precip %> inches.
        </p>
      </section>
      <% }) %>
    </div>
      
</body>
</html>