<div class="wrapper">
  <div class="row features" style="margin-top: 2em; ">

    
     <% weatherResults.forEach(day => { %>
     <section class="col-12-narrower feature">
        <p class="weather">
          <%= day.time %><br>
          <%= day.forecast %>
        </p>
        <div class="image-wrapper first">
          <a href="#" class="image featured"><img id="icon" src="https://www.weatherbit.io/static/img/icons/<%= day.icon %>.png" alt="" /></a>
        </div>
        <p class="weather">
          <%= day.high_temp %>° | <%= day.low_temp %>°<br>
          Rainfall: <%= day.precip %> inches.
        </p>
     </section>   
     <% }) %>
  
  </div>
</div>